.woocommerce-account .address_book header {
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 1em;
}

.woocommerce-account .address_book header h3 {
	display: inline-block;
	padding-bottom: 5px;
	margin: 0;
}

.woocommerce-account .wc-address-book-add-new-address {
	display: inline-block;
	padding-left: 10px;
	float: right;
	margin-top: 1px;
}

.woocommerce-account .address_book .wc-address-book-address > address:first-line {
	padding-left: 0px;
	font-weight: bold;
}

.woocommerce-account .address-book .wc-address-book-meta {
	float: right;
}

.woocommerce-account .address-book .wc-address-book-meta a {
	display: block;
}

.woocommerce-account .address-book .wc-address-book-meta a:hover {
	cursor: pointer;
}

.woocommerce-checkout .address_book input.input-radio {
	margin-right: 15px;
	margin-bottom: 1em;
	margin-top: 1em;
}

.woocommerce-checkout .address_book label.radio {
	display: inline;
}

.woocommerce-checkout .address_book label.radio::after {
	content: '\A';
	white-space: pre;
}
