.woocommerce-account {
	--wc-address-book--default-badge--bg: rgb(239, 246, 255);
	--wc-address-book--default-badge--color: rgb(29, 78, 216);
	--wc-address-book--border--color: #e2e2e2;
	--wc-address-book--column--count: 2;
	--wc-address-book--column--spacing: 1rem;
}

.woocommerce-account .address_book {
	clear: both;
	margin-top: 3rem;
}

.button-full-width {
	text-align: center;
	width: 100%;
}

.woocommerce-account .address_book header {
	border-bottom: 1px solid var(--wc-address-book--border--color);
	margin-bottom: 1rem;
}

.woocommerce-account .address_book header h3 {
	display: inline-block;
	margin: 0;
}

.woocommerce-account .address_book .woocommerce-address h4 {
	font-size: 1.25em;
	margin-bottom: 1em;
}

.woocommerce-account .address_book .wc-address-book-form-section {
	margin-bottom: 1em;
}

.woocommerce-account input[type="file"] {
	border: 1px solid var(--wc-address-book--border--color);
	font-size: 0.8em;
	width: 100%;
	color: #6d6d6d;
}

.woocommerce-account input[type="file"]::file-selector-button {
	background: #eee;
	border: 0;
	border-radius: 0;
	padding: 0.5em 1em;
	font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 600;
	line-height: 1.618;
	color: #333;
	cursor: pointer;
	font-size: 1rem;
}

.woocommerce-account input[type="file"]::file-selector-button:hover {
	background-color: #d5d5d5;
}

.woocommerce-account .import-error {
	color: red;
}

.woocommerce-account .wc-address-book-file-submit {
	text-align: center;
}

.woocommerce-account .wc-address-book-add-new-address {
	margin-top: 0.5rem;
}

@media (min-width: 768px) {
	.woocommerce-account .address_book header {
		display: flex;
		justify-content: space-between;
	}

	.woocommerce-account .wc-address-book-add-new-address {
		margin-top: 0;
	}
}

.woocommerce-account .address-book {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wc-address-book--column--spacing);
}

.woocommerce-account .wc-address-book-address {
	border: 1px solid var(--wc-address-book--border--color);
	width: 100%;
}

@media (min-width: 768px) {
	.woocommerce-account .wc-address-book-address {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-basis: calc((100% / var(--wc-address-book--column--count)) - (var(--wc-address-book--column--spacing) / var(--wc-address-book--column--count) * (var(--wc-address-book--column--count) - 1)) - 2px);
	}
}

.woocommerce-account .wc-address-book-address address {
	padding: var(--wc-address-book--column--spacing);
}

.woocommerce-account .wc-address-book-meta {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding-bottom: var(--wc-address-book--column--spacing);
	padding-left: var(--wc-address-book--column--spacing);
	padding-right: var(--wc-address-book--column--spacing);
}

.woocommerce-account .wc-address-book-meta a.button,
.woocommerce-account .wc-address-book-meta button.button {
	margin: 0;
	flex-grow: 1;
	text-align: center;
}

.woocommerce-account .wc-address-book-address-default .wc-address-book-meta a.button {
	flex-grow: 0;
}
.woocommerce-account .wc-address-book-address-default .wc-address-book-meta button.button {
	display: none;
}

.wc-address-book-address-badges {
	padding: 0.5rem;
}

.wc-address-book-address-default-label {
	background: var(--wc-address-book--default-badge--bg);
	color: var(--wc-address-book--default-badge--color);
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(29, 78, 216, 0.1) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	border-radius: 0.375rem;
	align-items: center;
	display: inline-flex;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	padding: 0.25rem 0.5rem;
}

.woocommerce-account .address_book_tools .woo-address-book-import-export {
	padding-bottom: 0;
}

.woocommerce-account .wc-address-book-meta a {
	display: block;
}

.woocommerce-account .wc-address-book-meta a:hover {
	cursor: pointer;
}

.woocommerce-account .address_book_tools .woo-address-book-import-export {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.address_book_tools .woocommerce-address {
	box-sizing: border-box;
	flex: 1 1 255px;
}

.woocommerce-account .address_book_tools .woocommerce-address hr {
	background-color: var(--wc-address-book--border--color);
}

.woocommerce-checkout .address_book input.input-radio {
	margin-right: 15px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.woocommerce-checkout .address_book label.radio {
	display: inline;
}

.woocommerce-checkout .address_book label.radio::after {
	content: '\A';
	white-space: pre;
}
